<% if flash[:notice] %>
  <div class="row" id="flash" style="padding-left: 30px;">
    <div class"span12">
      <div class="alert alert-success text-center" id="notice">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4><%= flash[:notice] %></h4>
      </div>
    </div>
  </div>
<% elsif flash[:error] %>
  <div class="row" id="flash">
    <div class="span12">
      <div class="alert alert-error text-center" id="error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4><%= flash[:error] %></h4>
      </div>
    </div>
  </div>
<% end %>

<section class="box">
  <div class="row-fluid">
    <div class="span6">
      <div class="alert continuity grey">
        <div>
          <h1>User Agent</h1>
          <p id="user_agent_string">Javascript: Disabled</p>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="alert continuity grey">
        <div>
          <h1>Window Size</h1>
          <p id="window_size">Javascript: Disabled</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <div class="alert continuity grey">
        <div>
          <h1>Screen Size</h1>
          <p id="screen_size">Javascript: Disabled</p>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="alert continuity grey">
        <div>
          <h1>Operating System</h1>
          <p id="operating_system">Javascript: Disabled</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <div class="alert continuity grey">
        <div>
          <h1>Web Browser</h1>
          <p id="web_browser">Javascript: Disabled</p>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="alert continuity grey">
        <div>
          <h1>Flash Enabled</h1>
          <p id="flash_enabled">Javascript: Disabled</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <div class="alert continuity grey">
        <div>
          <h1>Date</h1>
          <p id="date">Javascript: Disabled</p>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="alert continuity alert-success">
        <div>
          <h1>IP Address</h1>
          <p>IP Address: <%= request.remote_ip%></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <div class="alert continuity grey">
        <div>
          <h1>3rd Party Sites</h1>
          <p id="other_sites">Javascript: Disabled</p>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="alert continuity grey">
        <div>
          <h1>Control.Continuity.net Test</h1>
          <p id="continuity_site">Javascript: Disabled</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<img id="imagecloudfront" style="display:none"></img>
<img id="imagefavicon" style="display:none"></img>

<script type="text/javascript">
  var __lc = {};
  __lc.license = "<%= ENV['LcLi'] %>";
</script>
<script src="//ssl.google-analytics.com/ga.js"></script>
<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script type="text/javascript" src="https://assets-cdn.continuity.net/assets/application.js"></script>
<script type="text/javascript" src="https://assets-cdn.continuity.net/assets/controllers/policy_library.js"></script>
<div id='boxViewTest' data-session-url="<%= @box_view_session_url %>" style="display:none"></div>
