<%= form_for(@user_datum, html: {class: "navbar-form navbar-right"}) do |f| %>
  <% if @user_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_datum.errors.count, "error") %> prohibited this user_datum from being saved:</h2>

      <ul>
        <% @user_datum.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :ip_address, :value => request.remote_ip %>
  <%= f.hidden_field :honeypot %>
  <%= f.hidden_field :data %>

  <div class="form-group">
    <%= f.email_field :email_address, placeholder: "Email", class: "form-control" %>
  </div>
  <%= f.button "Send data to Continuty", type: :submit, class: 'btn btn-success' %>
<% end %>
