<%= form_for(@user_datum) do |f| %>
  <% if @user_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_datum.errors.count, "error") %> prohibited this user_datum from being saved:</h2>

      <ul>
      <% @user_datum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_agent_string  %>
  </div>
  <div class="field">
    <%= f.hidden_field :window_size %>
  </div>
<div class="field">
    <%= f.hidden_field :screen_size %>
  </div>
<div class="field">
    <%= f.hidden_field :operating_system %>
  </div>
  <div class="field">
    <%= f.hidden_field :web_browser %>
  </div>
  <div class="field">
    <%= f.hidden_field :flash_enabled %>
  </div>
  <div class="field">
    <%= f.hidden_field :date %>
  </div>
  <div class="field">
    <%= f.hidden_field :ip_address %>
  </div>
  <div class="field">
    <%= f.hidden_field :honeypot %>
  </div>
  <div class="actions">
    <%= f.email_field :email_address %>
    <%= f.submit %>
  </div>
<% end %>
