<%= form_for(@user_datum) do |f| %>
  <% if @user_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_datum.errors.count, "error") %> prohibited this user_datum from being saved:</h2>

      <ul>
      <% @user_datum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_agent_string %><br>
    <%= f.text_field :user_agent_string %>
  </div>
  <div class="field">
    <%= f.label :window_size %><br>
    <%= f.text_field :window_size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
