<p id="notice"><%= notice %></p>

<p>
  <strong>User agent string:</strong>
  <%= @user_datum.user_agent_string %>
</p>

<p>
  <strong>Window size:</strong>
  <%= @user_datum.window_size %>
</p>

<p>
  <strong>Screen Size:</strong>
  <%= @user_datum.screen_size %>
</p>

<p>
  <strong>Operating System:</strong>
  <%= @user_datum.operating_system %>
</p>

<p>
  <strong>Web Browser:</strong>
  <%= @user_datum.web_browser %>
</p>

<p>
  <strong>Flash Enabled:</strong>
  <%= @user_datum.flash_enabled %>
</p>

<p>
  <strong>Date:</strong>
  <%= @user_datum.date %>
</p>

<p>
  <strong>IP Address:</strong>
  <%= @user_datum.ip_address %>
</p>
