<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="<%= image_path 'favicon.ico' %>">

    <title>Continuity</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
		<nav class="navbar navbar-continuity navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
          <a href="http://www.continuity.net/" class="navbar-left">
            <%= image_tag 'CC_logo_white.png' %>
          </a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
          <%= render "user_data/form" %>
				</div><!--/.navbar-collapse -->
			</div>
		</nav>

    <div class="container">
      <div class="row">
        <% if flash[:notice] %>
          <div class="alert alert-info fade in">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= flash[:notice] %>
          </div>
        <% elsif flash[:error] %>
          <div class="alert alert-danger fade in">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= flash[:error] %>
          </div>
        <% end %>
      </div>
    </div>

    <div id="main-container" class="container">
      <%= yield %>
    </div>

    <footer>
      <div class="container">
        <p>&copy; Continuity Control <%= Date.current.year %></p>
        <p>Continuity Browser and Connectivity Test v<%= File.read(Rails.root.join('VERSION')) %></p>
      </div>
    </footer>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
